div#outer_box{
  width: 94%;
  height: 100%;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}

#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
}

div#container {
  width: 100%;
  padding-left: 5px;
  height: 510px;
}

@media screen {
  #outer_box{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
  }

  #container{
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
  }
}

@media print{
  #apl_header, span#apl_title, span#sub_title, .header_menu, .menu_self, menu_end{ display: none; }
  #select_area, #nav_msg, #dur_area, hr.top{ display: none; }
  th, .meisai_data, .t_foot { font-size: 10pt; }
}

#select_area{
  width: 95%;
}

#nav_msg{
  padding: 0px 0px 5px 8px;
}

#dur_area{
  padding: 0px 0px 5px 8px;
}

#err_msg{
  margin: 0px 0px 0px 20px;
  color: red;
}

.btn {
  margin-left: 5px;
}

table.nobreak {
  margin-top: 10px;
  width: 99%;
  page-break-inside: avoid;
  //border-bottom: dotted grey 1px;
}

table.meisai{
  //width: 500px;
  width: 500px;
  margin: 10px 60px 20px 8px;
  table-layout: fixed;
  border: solid 2px darkblue;
  border-collapse: collapse;
}

th{
  height: 28px;
  padding: 0px 0px 0px 8px;
  border: solid 1px darkblue;
  font-size: 10pt;
  text-align: left;
  background-color: #cde8d2;
}

th.meisai_title_1{ width:120px; border-right:none; }
th.meisai_title_2{ width:150px; border:none; }
th.meisai_title_3{ width:60px; padding-right: 8px; text-align: right; }
th.meisai_title_4{ width:70px; padding-right: 8px; text-align: right; }

td.meisai_data{
  height: 18px;
  padding-left: 8px;
  font-size: 9pt;
  border: solid 1px darkblue;
  background-color: snow;
}

td.intable{
  vertical-align: top;
}

.t_foot{
  font-size: 10pt;
  padding-left: 8px;
  padding-right: 8px;
  text-align: right;
  border: solid 1px darkblue;
  border-top: double 3px darkblue;
  background-color: snow;
}

.td_money{
  padding-right: 8px;
  text-align: right;
}

.meisai_title{
  background-color: #cde8d2;
}

hr.top {
  width: 100%;
}

#greyout{
  width: 94%;
  height: 90%;
  visibility: hidden;
  position: absolute;
  left: 3%;
  top: 35px;
  background: rgba(0,0,0,.6);
}
